.creating-quizz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 70px;

  background: #fafafa;
}
.creating-quizz .title {
  display: block;
  margin: 37px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

  line-height: 23px;

  color: #000000;
}
.creating-quizz input {
  width: 341px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;

  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 5px;
}
.creating-quizz input::placeholder {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;

  color: #bababa;
}
.creating-quizz button {
  width: 324px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c20c03;
  border-radius: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  margin: 46px 0;

  color: #fff5f4;
}
.creating-quizz .start,
.create-questions,
.select-level,
.ending {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creating-quizz .questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.add-question {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding: 27px;
  background-color: white;
}
.creating-quizz .add-question ion-icon {
  font-size: 26px;
}
.add-question .text {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

  line-height: 23px;

  color: #000000;
}
