* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #FAFAFA;
}

.header {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background: #EC362D;

    position: fixed;
    top: 0;
    z-index: 10;
}

.header span {
    font-size: 37px;
    font-weight: 700;

    line-height: 43px;

    color: #fff;
}



.listQuizz {
    width: 1050px;

    margin: auto;
    
    padding-top: 70px;
}



.noQuizz {
    width: 100%;
    height: 180px;

    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    margin-top: 30px;
    
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
}

.noQuizz span {
    font-size: 20px;
    font-weight: 400px;

    line-height: 23px;
    
    text-align: center;
    
    color: #b9b9b9;
}

.noQuizz button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 8px 20px;
    
    border: 1px dashed #ec362d;
    border-radius: 50px;
    
    font-size: 21px;
    color: #ec362d;
    
}

.yours {
    margin-top: 68px;
}

.all {

        font-size: 20px;
        font-weight: 700;

        line-height: 23px;

        margin: 48px 0 15px 0;
    }

.addButton {

    margin-bottom: 15px;

    display: flex;
    justify-content: left;
    align-items: center;

    position: relative;

}

.addButton ion-icon {
    font-size: 40px;
    color: #ec362d;
    cursor: pointer;

    position: absolute;
    left: 135px;

}

.allQuizzes, .yourQuizzes {

    margin: auto;
    
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    justify-content: left;
    
    gap: 15px;
}

.allQuizzes span:first-child, .addButton span {
    font-size: 20px;
    font-weight: 700;
    
    line-height: 23px;
    
    align-items: left;
}

article {
    width: 340px;
    height: 180px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    border-radius: 5px;
    
    overflow: hidden;

    position: relative;
}

article img {
    width: 100%;
    height: 100%;
    
    border-radius: 5px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    
    position: absolute;
}

.gradient {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 3;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 64.58%, #000000 100%);
    
    transition: all 1s;
}

article .gradient:hover /*+ article img*/{
    transform: scale(2);
}

article .title {
    font-size: 19px;
    font-weight: 300;
    
    line-height: 22px;
    
    margin: 20px;
    
    color: #fff;
    
    position: absolute;
    z-index: 4;

    text-shadow: 1px 1px 3px #000;
}

.insideQuiz {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.insideHeader{
    width: 100%;
    height: 297px;
    padding-top: 70px;

    position: relative;
}

.insideHeader img {
    width: 100%;
    height: 227px;

    object-fit: cover;

    position: absolute;
}

.opacity {
    width: 100%;
    height: 227px;

    opacity: 40%;

    background: #000;

    position: absolute;
    z-index: 2;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insideTitle {
    font-size: 39px;
    font-weight: 400;
    
    line-height: 46px;
    
    color: #fff;
    
    position: absolute;
    bottom: 30%;
    z-index: 3;
    
    text-shadow: 1px 1px 3px #000;
}





@media (max-width: 1100px) {

    .listQuizz {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noQuizz {
        width: 340px;
    }

    .noQuizz span {
        font-size: 20px;
        font-weight: 400px;

        line-height: 23px;

        text-align: center;

        color: #b9b9b9;
    }

    .noQuizz button {
        all: unset;
        box-sizing: border-box;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 8px 20px;

        border: 1px dashed #ec362d;
        border-radius: 50px;

        font-size: 21px;
        color: #ec362d;
    }

    .yours {
        width: 340px;
        
        margin-top: 38px;
    }

    .all {
        font-size: 20px;
        font-weight: 700;

        line-height: 23px;

        margin: 30px 0 15px 0;
    }

    .addButton ion-icon {
        left: auto;
        right: 0;
    }

    .allQuizzes span:first-child, .addButton span {
        font-size: 20px;
        font-weight: 700;

        line-height: 23px;
    }

    .allQuizzes, .yourQuizzes {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 15px;
    }
}

.noDisplay {
    display: none;
}